<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.database.mapper.BoardMapper">
	<!-- 비회원 , 로그인 처리 후 동적 쿼리로 회원 생성도 지원하자 -->
	<insert id="createBoard">
		INSERT INTO tbl_board1 (title, content)
		VALUES(#{title}, #{content})
	</insert>

	<insert id="createComment">
		INSERT INTO tbl_board1 (content)
		VALUES(#{content})
	</insert>

	<select id="read" resultType="BoardVO">
		SELECT *
		FROM tbl_board1 WHERE bno =
		#{bno} AND visible = 'TRUE'
	</select>

	<!-- 게시물 업데이트 -->
	<update id="updateBoard">
		UPDATE tbl_board1 SET title=#{title},
		content=#{content}, revdate=now()
		where bno = #{bno}
	</update>

	<!-- 코멘트 업데이트 -->
	<update id="updateComment">
		UPDATE tbl_board1 SET title=#{title},
		content=#{content}
		WHERE bno_p = #{bno_p} AND bno_c #{bno_c}
	</update>

	<!-- 게시물 삭제 -->
	<update id="delete">
		UPDATE tbl_board1 SET visible='false'
		WHERE bno =
		#{bno}
	</update>

	<select id="listPage" resultType="BoardVO">
  	<![CDATA[
  	SELECT *
  	FROM tbl_board1
  	WHERE bno > 0 AND visible = 'TRUE'
  	ORDER BY bno desc, regdate desc
  	LIMIT 10 OFFSET #{page}  
  	]]>
	</select>

	<!-- <select id="listCriteria" resultType="BoardVO"> <![CDATA[ SELECT * 
		FROM tbl_board1 WHERE bno > 0 AND bno_p IS NULL AND visible = 'TRUE' ORDER 
		BY bno DESC, regdate DESC LIMIT #{perPageNum} OFFSET #{pageStart} ]]> </select> -->

	<select id="countPaging" resultType="int">
  	<![CDATA[
  	SELECT count(bno)
  	FROM tbl_board1
  	WHERE bno > 0 AND visible = 'TRUE'
  	]]>
	</select>

	<select id="listSearch" resultType="BoardVO">
  	<![CDATA[
  	SELECT *
  	FROM tbl_board1 WHERE (bno > 0 AND visible = 'TRUE')
  	]]>

	<include refid="search"></include>

  	<![CDATA[
  	 ORDER BY bno DESC
  	LIMIT #{perPageNum} OFFSET #{pageStart} 
  	]]>
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'TITLE'.toString()">
				AND title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'CONTENT'.toString()">
				AND content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'WRITER'.toString()">
				AND writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'TITLE OR CONTENT'.toString()">
				AND (
					(title like CONCAT('%', #{keyword}, '%')) OR (content like CONCAT('%', #{keyword}, '%'))
				)
			</if>
			<if test="searchType == 'CONTENT OR WRITER'.toString()">
				AND (
					(content like CONCAT('%', #{keyword}, '%')) OR (writer like CONCAT('%', #{keyword}, '%'))
				)
					
			</if>
			<if test="searchType == 'TITLE OR CONTENT OR WRITER'.toString()">
				AND (
					(title like CONCAT('%', #{keyword}, '%')) OR (content like CONCAT('%', #{keyword}, '%')) OR (writer like CONCAT('%', #{keyword}, '%'))
				)
			</if>
		</if>
	</sql>

	<select id="listSearchCount" resultType="int">
	<![CDATA[
	SELECT count(bno)
	FROM tbl_board1
	WHERE bno > 0 AND visible = 'TRUE'
	]]>
		<include refid="search"></include>
	</select>
</mapper>