<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- http://www.mybatis.org/mybatis-3/ko/getting-started.html 참조 -->

<mapper namespace="org.database.mapper.MessageMapper">
	<insert id="create">
		INSERT INTO tbl_message (targetid, sender, message)
		VALUES (#{target_id}, #{sender}, #{message})
	</insert>
	
	<select id="readMessage" resultType="MessageVO">
		SELECT * FROM tbl_message
		WHERE mid = #{mid}
	</select>
	
	<update id="updateState">
		UPDATE tbl_message SET opendate = now()
		WHERE mid = #{mid}
	</update>
</mapper>